.gitignore
.git/**
.vscode/**
src/**
tsconfig.json
GEMINI.md
node_modules/.cache/**
node_modules/yaml/**
node_modules/comment-json/**
node_modules/esprima/**
node_modules/array-timsort/**
node_modules/node-pty/build/**
node_modules/node-pty/deps/**
node_modules/node-pty/src/**
node_modules/node-pty/scripts/**
node_modules/node-pty/third_party/**
node_modules/node-pty/typings/**
!node_modules/node-pty/prebuilds/win32*
node_modules/@xterm/xterm/src/**
node_modules/@xterm/addon-fit/src/**
